task_type: FARGATE
network_mode: awsvpc

cpu: 256
memory: 512

step_function_iam_policies:
  run_task:
    action:
      - ecs:RunTask
      - iam:PassRole
  manage_task:
    action:
      - ecs:StopTask
      - ecs:DescribeTasks
  task_events:
    action:
      - events:PutTargets
      - events:PutRule
      - events:DescribeRule
    resource:
      - Fn::Sub: arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForECSTaskRule

state_machine: |
  {
    "Comment": "",
    "StartAt": "Run Task",
    "TimeoutSeconds": 3600,
    "States": {
      "Run Task": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "LaunchType": "FARGATE",
          "Cluster": "${EcsCluster}",
          "TaskDefinition": "${Task}",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": ["${SubnetId}"],
              "SecurityGroups": ["${SecurityGroup}"],
              "AssignPublicIp": "DISABLED"
            }
          }
        },
        "Next": "Success",
        "Catch": [
            {
              "ErrorEquals": [ "States.ALL" ],
              "Next": "Failure"
            }
        ]
      },
      "Success": {
        "Type": "Succeed"
      },
      "Failure": {
        "Type": "Fail"
      }
    }
  }